<?xml version="1.0" encoding="UTF-8"?>
<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epozen.epozenMall.dao.ProductMapper">
	
	<!-- 상품 목록페이지 상품 카운트 -->
	<select id="selectCntAll" resultType="int"  parameterType="com.epozen.epozenMall.util.Paging" >
		SELECT COUNT(*)
		FROM shop_product
		<if test="listSelect != null and listSelect != '' ">
        	<choose>
        		<when test="listSelect == 'total'">
        			WHERE 1=1
        		</when>
        		<when test="listSelect == 'fashion'">
        			WHERE pro_cate = '패션의류'
        		</when>
        		<when test="listSelect == 'goods'">
        			WHERE pro_cate = '생활용품'
        		</when>
        		<when test="listSelect == 'cosmetic'">
        			WHERE pro_cate = '화장품'
        		</when>
        	</choose>
        </if>
	</select>
	
	<!-- 상품 목록 페이지 -->
	<select id="selectAll"  parameterType="com.epozen.epozenMall.util.Paging" resultType="com.epozen.epozenMall.vo.ShopProductVO">
			SELECT * FROM
				(SELECT rownum rnum, B.*
				    FROM (
				        SELECT pro_no proNo, pro_cate proCate, pro_name proName, pro_price proPrice, pro_detail proDetail, img_no imgNo
				        FROM SHOP_PRODUCT
				        <if test="listSelect != null and listSelect != '' ">
				        	<choose>
				        		<when test="listSelect == 'total'">
				        			WHERE 1=1
				        		</when>
				        		<when test="listSelect == 'fashion'">
				        			WHERE pro_cate = '패션의류'
				        		</when>
				        		<when test="listSelect == 'goods'">
				        			WHERE pro_cate = '생활용품'
				        		</when>
				        		<when test="listSelect == 'cosmetic'">
				        			WHERE pro_cate = '화장품'
				        		</when>
				        	</choose>
				        </if>
				        ORDER BY pro_no desc
				        ) B
				)
			WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<!-- 상품 상세 페이지 -->
	<select id="selectProDetail" parameterType="int" resultType="com.epozen.epozenMall.vo.ShopProductVO">
		SELECT 
			pro_no proNo,
			pro_cate proCate,
			pro_name proName,
			pro_price proPrice,
			pro_detail proDetail,
			img_no imgNo
		 FROM
			SHOP_PRODUCT 
		WHERE 
			pro_no = #{proNo}		
	</select>
	
	<!-- 상품평 갯수 -->
	<select id="selectProcomCnt" resultType="int" parameterType="int">
		SELECT COUNT(*)
		FROM SHOP_PROCOM
		WHERE pro_no = #{proNo}
	</select>
	
	<!-- 상품평 -->
	<select id="selectProcom" resultType="com.epozen.epozenMall.vo.ShopProcomVO"  parameterType="com.epozen.epozenMall.util.Paging" >
		SELECT * 
		FROM (
		    SELECT rownum rnum, T.*
		    FROM (
				SELECT 
					A.procom_no procomNO,
					REPLACE(B.user_Id, SUBSTR(B.user_Id, 4,5),'***') userId,
					C.pro_no proNO,
					A.procom_contents procomContents,
					A.procom_regdate procomRegdate
				FROM
					SHOP_PROCOM  A, SHOP_USER  B, SHOP_PRODUCT C
				WHERE
					A.user_id = B.user_id
				AND 
					A.pro_no = C.pro_no
				AND 
					A.pro_no = #{proNo}
		        ) T
		    )
		WHERE rnum BETWEEN #{startNo } AND #{endNo }
	</select>
	
	<!-- 장바구니 담기 -->
	<insert id="insertInCart" parameterType="com.epozen.epozenMall.vo.ShopCartVO">
		INSERT INTO SHOP_CART(
			cart_no,
			user_id,
			pro_no,
			cart_amount,
			cart_Price 
		)
		VALUES (
			seq_cartNo.nextval,
			#{userId},
			#{proNo},
			#{cartAmount},
			#{cartPrice}
		)
	</insert>
	
	<!-- 구매하기 -->
	<insert id="insertOrder" parameterType="com.epozen.epozenMall.vo.ShopOrderVO" >
		INSERT INTO 
		SHOP_ORDER (
			order_no ,
			user_id ,
			order_date ,
			order_state ,
			order_price 
		)	
		VALUES (
			SHOP_ORDER_SEQ.nextval,
			#{userId},
			TO_DATE(SYSDATE,'yyyy/MM/dd'),
			'준비중',
			#{orderPrice}
		)
	</insert>

	<insert id="insertOrderde" parameterType="com.epozen.epozenMall.vo.ShopOrderdeVO" >
		INSERT INTO SHOP_ORDERDE(
			orderde_no,
			order_no,
			pro_no,
			orderde_amount,
			orderde_price
		)VALUES(
			SHOP_ORDERDE_SEQ.nextval,
			#{orderNo},
			#{proNo},
			#{orderdeAmount},
			#{orderdePrice}
		)
	</insert>
	<select id="selectOrderNo" resultType="int">
	SELECT  
		max(order_no)
	FROM
	SHOP_ORDER
	</select>
	<select id="selectUser" resultType="com.epozen.epozenMall.vo.ShopUserVO" parameterType="com.epozen.epozenMall.vo.ShopUserVO">
		SELECT 
			user_id userId,
			user_name userName,
			user_phone userPhone,
			user_add userAdd
		FROM
			shop_user
		WHERE 
		  user_id = #{userId}	
	</select>


</mapper>